*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    color: white;
}
.first{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event_name{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tech_xstream_name{
    font-family: "Poppins", sans-serif;
    text-align: center;
    position: absolute;
    top: 150px;
    /* top: 150px; */
    z-index: 1;
    font-size: 8rem;
    /* color: #5a31ab; */
    text-shadow: 0px 5px 5px rgba(229, 229, 229, 0.764);
    background: linear-gradient(to right,#fc72ff,#8f68ff,#0cb1f8,#8f68ff,#fc72ff);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 6s linear alternate infinite textBg;
}
@keyframes textBg{
    to{
        background-position: 200%;
    }
}

.moon{
    margin-top: 100px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    /* background-color: rgb(5, 5, 5); */
    background-image: url(moon.png);
    object-fit: cover;
    /* opacity: 80%; */
    background-position: center;
    filter: drop-shadow(0 0 70px rgb(101, 43, 246));
    box-shadow: 0 0 20px 0px rgb(255, 255, 255);
    animation: 30s linear infinite rotateMoon;
}
.sub_text{
    position: absolute;
    text-align: center;
    top: 480px;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.event_name_btn{
    /* position: absolute; */
    top: 530px;
    padding: 10px 20px;
    background-color: #7b50fc;
    box-shadow: 0px 0px 20px 1px #8f68ff;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid transparent;
    cursor: pointer;
    color: white;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease-in-out;
}
.event_name_btn:hover{
    background-color: #7b50fc69;
    /* color: #7b50fc; */
    border: 2px solid #7b50fc;
}
.tech_xstream_name svg{
    transform: scale(13);
}
.tech_xstream_name svg path{
    fill: url(#paint0_linear_1_2);
    stroke: #ffffff;
    stroke-width: 0.3;
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    animation: textAnimate 4s ease-in-out alternate infinite;
}
@keyframes textAnimate {
    0%{
        stroke-dashoffset: 60;
    }
    70%{

    }
    100%{
        stroke-dashoffset: 0;
    }
}
@keyframes rotateMoon{
    0%{
        transform: rotate(0);
    }
    30%{

    }
    60%{

    }
    100%{

        transform: rotate(360deg);
    }
}
.btncontainer{
    margin-top: 30px;
    width: 100%;
    height:20%;
    /* background-color: #0cb1f8; */
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:900px){
    .tech_xstream_name svg{
        transform: scale(6);
    }
    .moon{
        margin-top: 100px;
        width: 250px;
        height: 250px;

    }
    .tech_xstream_name{
        top: 150px;

    }
    .sub_text{

        top: 400px;
        font-size: 1rem;

    }
    .event_name_btn{
        /* position: absolute; */
        top: 65%;
        padding: 10px 20px;
        background-color: #7b50fc;
        box-shadow: 0px 0px 20px 1px #8f68ff;
        border-radius: 10px;
        font-size: 14px;
        border: 2px solid transparent;
        cursor: pointer;
        color: white;
        font-family: "Poppins", sans-serif;
        transition: all 0.3s ease-in-out;
    }
}